<div class="form-page">
	<!-- header -->
	<div ng-controller="memberDetailsController">
	  	<div ng-include src="header.url"></div>
	  	<script type="text/ng-template" id="header.view.html"></script>
	</div> <!-- End - header -->

	<section class="main-sec">
		<div class="content-container">
			<h2>Review all details with the Member and confirm they are up-to-date and have not changed. The member must supply at least one form of valid contact and be a part of at least one group in order to join, but ask for all fields!</h2>
		</div>
		<hr/>
		<div class="content-container">
			<!-- Errors -->
			<div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>

			<!-- <div class="test" ui-view></div> -->
			<form name="form" ng-submit="vm.migrate()" role="form" class="form_migrate">
				<!-- left fields -->
				<div class="group-ctrls">
					<div class="inner-group-ctrls">
						<!-- Salutation -->
						<div class="form-group group-ctrl" ng-class="{'has-error': form.salutation.$invalid}"> 
						    <label for="salutation">Salutation:</label> 
						    <div class="select-wrapper"> 
						    	<div class="select-container">
							        <select id="salutation" 
							                name="salutation" 
							                ng-model="salutationItem"
							                ng-options="salutationItem as salutationItem.label for salutationItem in salutation" 
							                value="{{salutationItem.value}}" 
							                ng-change="selectedOptionFn('salutation', salutation, salutationItem.value);"
							                class="form-control" autofocus required>
							            <option value="" >Select ... </option>
							        </select> 
							        <i class="fa fa-chevron-down" ></i> 
						        </div>
						        <!-- Success -->
						         <div ng-show="!form.salutation.$invalid" class="validity-icon" >
			                    	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
									  	<circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
								 	 	<polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
									</svg>
			                    </div>
			                    <!-- Missing -->
			                    <div ng-show="form.salutation.$invalid" 
			                    		class="form-field-alert validity-icon missing" >

			                    	<div class="form-field-icon form-field-warning scaleWarning">
										<span class="form-field-body pulseWarningIns"></span>
										<span class="form-field-dot pulseWarningIns"></span>
									</div>
			                    </div>

						        <span ng-show="form.salutation.$invalid" class="help-block missing" >
						            Missing&#33; Add Salutation.
						        </span>
						    </div>
						</div> <!-- End - Salutation -->
					</div>
					<div class="inner-group-ctrls">
						<!-- Gender -->
						<div class="form-group group-ctrl" ng-class="{'has-error': form.gender.$invalid}">
						    <label for="gender">Gender:</label>  <!-- class="control-label"  -->
						    <div class="select-wrapper"> 
						    	<div class="select-container">
							        <select id="gender" 
							                name="gender" 
							                ng-model="genderItem"
							                ng-options="genderItem as genderItem.label for genderItem in gender" 
							                value="{{genderItem.value}}"
							                ng-change="selectedOptionFn('gender', gender, genderItem.value);"
							                class="form-control" required>
							            <option value="" >Select ... </option>
							        </select> 
							        <i class="fa fa-chevron-down" ></i>
							    </div>
							    <!-- Success -->
						        <div ng-show="!form.gender.$invalid" class="validity-icon" >
			                    	<svg version="1.1" 
			                    			xmlns="http://www.w3.org/2000/svg" 
			                    			viewBox="0 0 130.2 130.2">
									  	<circle class="path circle" 
									  			fill="none" 
									  			stroke="#73AF55" 
									  			stroke-width="6" 
									  			stroke-miterlimit="10" 
									  			cx="65.1" cy="65.1" r="62.1"/>
								 	 	<polyline class="path check" 
								 	 				fill="none" 
								 	 				stroke="#73AF55" 
								 	 				stroke-width="6" 
								 	 				stroke-linecap="round" 
								 	 				stroke-miterlimit="10" 
								 	 				points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
									</svg>
			                    </div>
			                    <!-- Missing -->
			                    <div ng-show="form.gender.$invalid" 
			                    		class="form-field-alert validity-icon missing" >

			                    	<div class="form-field-icon form-field-warning scaleWarning">
										<span class="form-field-body pulseWarningIns"></span>
										<span class="form-field-dot pulseWarningIns"></span>
									</div>
			                		<!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
										<circle class="path circle" fill="none" stroke="#D06079" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
										<line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3"/>
										<line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2"/>
									</svg> -->
			                    </div>
						        <span ng-show="form.gender.$invalid" class="help-block missing" >
						            Missing&#33; Add Gender.
						        </span>
						    </div>
						</div> <!-- End - Gender -->
					</div>

					<!-- First Name -->
					<div class="form-group group-ctrl" ng-class="{ 'has-error': !form.firstname.$pristine && form.firstname.$error.required 
								|| (form.firstname.$pristine && form.firstname.$error.required) }">
	                    <label for="firstname">First Name</label>
	                    <input type="text" 
	                    		name="firstname" 
	                    		id="firstname" 
	                    		placeholder="ellie" 
	                    		class="form-control text-field" 
	                    		ng-model="vm.firstname" required />

	                    <!-- Backend - checking data - validation: Just to show invalid situation success and missing options are commented out  -->

	                    <!-- Success -->
	                    <div ng-show="(!form.firstname.$pristine 
	                    			&& !form.firstname.$error.required) 
	                    			|| !form.firstname.$error.required" 
	                    			class="validity-icon" >
	                    	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
							  	<circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
						 	 	<polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
							</svg>
	                    </div>

	                    <!-- Missing -->
	                    <div ng-show="!form.firstname.$pristine && form.firstname.$error.required 
	                    		|| (form.firstname.$pristine && form.firstname.$error.required)" 
	                    	class="form-field-alert validity-icon missing" >

	                    	<div class="form-field-icon form-field-warning scaleWarning">
								<span class="form-field-body pulseWarningIns"></span>
								<span class="form-field-dot pulseWarningIns"></span>
							</div>
	                    </div>
	                    <!-- Missing Error message -->
	                    <span ng-show="!form.firstname.$pristine && form.firstname.$error.required 
	                    		|| (form.firstname.$pristine && form.firstname.$error.required)" class="help-block missing">Missing&#33; Add First Name</span>

	                    <!-- Invalid -->
	                    <!-- <div ng-show="!form.firstname.$pristine" 
	                    		class="form-field-alert validity-icon invalid" >
		                    <div class="form-field-icon form-field-warning scaleWarning">
								<span class="form-field-body pulseWarningIns"></span>
								<span class="form-field-dot pulseWarningIns"></span>
							</div>
						</div> -->
	                    <!-- Invalid Error message -->				
	                    <!-- <span ng-show="!form.firstname.$pristine" class="help-block invalid">
	                    	Invalid&#33; re-confirm
	                    </span> -->
	                </div> <!-- End - First Name -->

	                <!-- Surname -->
	                <div class="form-group group-ctrl" 
	                		ng-class="{ 'has-error': !form.surname.$pristine && form.surname.$error.required 
								|| (form.surname.$pristine && form.surname.$error.required) }">
	                    <label for="surname">Surname</label>
	                    <input type="text" 
	                    		name="surname" 
	                    		id="surname" 
	                    		placeholder="" 
	                    		class="form-control text-field" 
	                    		ng-model="vm.surname" required />
	                    <!-- Success -->
	                    <div ng-show="(!form.surname.$pristine 
	                    			&& !form.surname.$error.required) 
	                    			|| !form.surname.$error.required" class="validity-icon" >
	                    	<svg version="1.1" 
	                    			xmlns="http://www.w3.org/2000/svg" 
	                    			viewBox="0 0 130.2 130.2">
							  	<circle class="path circle" 
							  			fill="none" 
							  			stroke="#73AF55" 
							  			stroke-width="6" 
							  			stroke-miterlimit="10" 
							  			cx="65.1" cy="65.1" r="62.1"/>
						 	 	<polyline class="path check" 
						 	 				fill="none" stroke="#73AF55" 
						 	 				stroke-width="6" 
						 	 				stroke-linecap="round" 
						 	 				stroke-miterlimit="10" 
						 	 				points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
							</svg>
	                    </div>

	                     <!-- Missing -->
	                    <div ng-show="!form.surname.$pristine && form.surname.$error.required 
	                    		|| (form.surname.$pristine && form.surname.$error.required)" 
	                    		class="form-field-alert validity-icon missing" >

	                    	<div class="form-field-icon form-field-warning scaleWarning">
								<span class="form-field-body pulseWarningIns"></span>
								<span class="form-field-dot pulseWarningIns"></span>
							</div>
	                    </div>
	                    <span ng-show="!form.surname.$pristine && form.surname.$error.required 
	                    		|| (form.surname.$pristine && form.surname.$error.required)" 
	                    		class="help-block missing">Missing&#33; Add Surname</span>
	                </div> <!-- End - Surname -->

				</div> <!-- End - left fields -->

				<!-- Right fields -->
				<div class="group-ctrls">
					<!-- Phone -->
					<div class="form-group group-ctrl" 
						ng-class="{ 'has-error': !form.phone.$pristine && form.phone.$error.required 
								|| (form.phone.$pristine && form.phone.$error.required) || form.phone.$error.pattern }">
	                    <label for="phone">Phone</label>
	                    <input type="text" 
	                    		name="phone" 
	                    		id="phone" 
	                    		placeholder="0722341234" 
	                    		ng-pattern="phoneNumber" 
	                    		class="form-control text-field" 
	                    		ng-model="vm.phone" required />
	                    <!-- Success -->
	                    <div ng-show="(!form.phone.$pristine 
	                    			&& !form.phone.$error.required 
	                    			&& !form.phone.$error.pattern) 
	                    			|| (!form.phone.$error.required 
	                    			&& !form.phone.$error.pattern)" 
            				class="validity-icon" >
	                    	<svg version="1.1" 
	                    			xmlns="http://www.w3.org/2000/svg" 
	                    			viewBox="0 0 130.2 130.2">
							  	<circle class="path circle" 
							  			fill="none" 
							  			stroke="#73AF55" 
							  			stroke-width="6" 
							  			stroke-miterlimit="10" 
							  			cx="65.1" cy="65.1" r="62.1"/>
						 	 	<polyline class="path check" 
						 	 				fill="none" 
						 	 				stroke="#73AF55" 
						 	 				stroke-width="6" 
						 	 				stroke-linecap="round" 
						 	 				stroke-miterlimit="10" 
						 	 				points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
							</svg>
	                    </div>
	                    <!-- Missing -->
	                    <div ng-show="!form.phone.$pristine && form.phone.$error.required 
	                    		|| (form.phone.$pristine && form.phone.$error.required)" 
                    		class="form-field-alert validity-icon missing" > 

	                    	<div class="form-field-icon form-field-warning scaleWarning">
								<span class="form-field-body pulseWarningIns"></span>
								<span class="form-field-dot pulseWarningIns"></span>
							</div>
	                    </div>
	                    <span ng-show="!form.phone.$pristine && form.phone.$error.required 
	                    		|| (form.phone.$pristine && form.phone.$error.required)" 
	                    	class="help-block missing">Missing&#33; Add Phone</span>

	                    <!-- Invalid -->
	                    <div ng-show="!form.phone.$error.required && form.phone.$error.pattern" 
	                    		class="form-field-alert validity-icon invalid" >
		                    <div class="form-field-icon form-field-warning scaleWarning">
								<span class="form-field-body pulseWarningIns"></span>
								<span class="form-field-dot pulseWarningIns"></span>
							</div>
						</div>
	                    <!-- Invalid Error message -->				
	                    <span ng-show="!form.phone.$error.required && form.phone.$error.pattern" class="help-block invalid">
	                    	Invalid&#33; re-confirm
	                    </span>

	                </div> <!-- End - Phone -->

	                <!-- Mobile -->
	                <div class="form-group group-ctrl" 
	                	ng-class="{ 'has-error': !form.mobile.$pristine && form.mobile.$error.required 
	                			|| (form.mobile.$pristine && form.mobile.$error.required) || form.mobile.$error.pattern }">
	                    <label for="mobile">Mobile</label>
	                    <input id="mobile" 
	                    		name="mobile" 
	                    		type="text"  
	                    		placeholder="0400123123" 
	                    		ng-pattern="mobileNumber" 
	                    		ng-model="vm.mobile" 
	                    		class="form-control text-field" required />
	                    <!-- Success -->
	                    <div ng-show="(!form.mobile.$pristine 
	                    			&& !form.mobile.$error.required 
	                    			&& !form.mobile.$error.pattern) 
	                    			|| (!form.mobile.$error.required 
	                    			&& !form.mobile.$error.pattern)" 
	                    			class="validity-icon" >
	                    	<svg version="1.1" 
	                    		xmlns="http://www.w3.org/2000/svg" 
	                    		viewBox="0 0 130.2 130.2">
							  	<circle class="path circle" 
							  			fill="none" 
							  			stroke="#73AF55" 
							  			stroke-width="6" 
							  			stroke-miterlimit="10" 
							  			cx="65.1" cy="65.1" r="62.1"/>
						 	 	<polyline class="path check" 
						 	 			fill="none" stroke="#73AF55" 
						 	 			stroke-width="6" 
						 	 			stroke-linecap="round" 
						 	 			stroke-miterlimit="10" 
						 	 			points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
							</svg>
	                    </div>
	                    <!-- Missing -->
	                    <div ng-show="!form.mobile.$pristine && form.mobile.$error.required 
	                    			|| (form.mobile.$pristine && form.mobile.$error.required)" 
	                    	class="form-field-alert validity-icon missing" >

	                    	<div class="form-field-icon form-field-warning scaleWarning">
								<span class="form-field-body pulseWarningIns"></span>
								<span class="form-field-dot pulseWarningIns"></span>
							</div>
	                    </div>
	                    <span ng-show="!form.mobile.$pristine && form.mobile.$error.required 
	                    		|| (form.mobile.$pristine && form.mobile.$error.required)" 
                    			class="help-block missing">Missing&#33; Add Mobile</span>
                    	<!-- Invalid -->
	                    <div ng-show="!form.mobile.$error.required && form.mobile.$error.pattern" 
	                    		class="form-field-alert validity-icon invalid" >
		                    <div class="form-field-icon form-field-warning scaleWarning">
								<span class="form-field-body pulseWarningIns"></span>
								<span class="form-field-dot pulseWarningIns"></span>
							</div>
						</div>
	                    <!-- Invalid Error message -->				
	                    <span ng-show="!form.mobile.$error.required && form.mobile.$error.pattern" class="help-block invalid">
	                    	Invalid&#33; re-confirm
	                    </span>
	                </div> <!-- End - Mobile -->

	                <!-- Email -->
	                <div class="form-group group-ctrl" 
	                	ng-class="{ 'has-error': !form.email.$pristine && !form.email.$valid
	                			|| (form.email.$pristine && form.email.$error.required) }">

	                			<!-- ng-class="{ 'has-error': !form.phone.$pristine && form.phone.$error.required 
								|| (form.phone.$pristine && form.phone.$error.required) || form.phone.$error.pattern }" -->

	                    <label for="email">Email</label>
	                    <input type="email" 
	                    		name="email" 
	                    		id="email" 
	                    		placeholder="ellie@gmail.com" 
	                    		class="form-control text-field"
	                    		ng-pattern="emailValidation"  
	                    		ng-model="vm.email" required />
	                    <!-- Success -->
	                    <div ng-show="(!form.email.$pristine && !form.email.$error.required && form.email.$valid)|| form.email.$valid" class="validity-icon" >
	                    	<svg version="1.1" 
	                    		xmlns="http://www.w3.org/2000/svg" 
	                    		viewBox="0 0 130.2 130.2">
							  	<circle class="path circle" 
							  			fill="none" 
							  			stroke="#73AF55" 
							  			stroke-width="6" 
							  			stroke-miterlimit="10" 
							  			cx="65.1" cy="65.1" r="62.1"/>
						 	 	<polyline class="path check" 
						 	 				fill="none" 
						 	 				stroke="#73AF55" 
						 	 				stroke-width="6" 
						 	 				stroke-linecap="round" 
						 	 				stroke-miterlimit="10" 
						 	 				points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
							</svg>
	                    </div>
	                    <!-- Missing -->
	                    <div ng-show="!form.email.$pristine && form.email.$error.required 
	                    			|| (form.email.$pristine && form.email.$error.required)" 
	                    	class="form-field-alert validity-icon missing" >

	                    	<div class="form-field-icon form-field-warning scaleWarning">
								<span class="form-field-body pulseWarningIns"></span>
								<span class="form-field-dot pulseWarningIns"></span>
							</div>
	                    </div> 
	                    <span ng-show="!form.email.$pristine && form.email.$error.required 
	                    			|| (form.email.$pristine && form.email.$error.required)" 
                    			class="help-block missing">Missing&#33; Add Email</span>
                    	<!-- Invalid -->
	                    <div ng-show="!form.email.$error.required && !form.email.$valid" 
	                    		class="form-field-alert validity-icon invalid" >
		                    <div class="form-field-icon form-field-warning scaleWarning">
								<span class="form-field-body pulseWarningIns"></span>
								<span class="form-field-dot pulseWarningIns"></span>
							</div>
						</div>
	                    <!-- Invalid Error message -->				
	                    <span ng-show="!form.email.$error.required && !form.email.$valid" class="help-block invalid">
	                    	Invalid&#33; re-confirm
	                    </span>
	                </div> <!-- End - Email -->

	                <!-- <div class="form-group group-ctrl" >
	                	<button type="button" class="edit-btn">Manual</button>
	                </div> -->
					
				</div> <!-- End - right fields -->

				<!-- group -->
				<div class="form-group group-ctrl"
						ng-class="{'has-error': !validGroup}" >
					<!-- Start Store Section -->

			            <label for="storedd">Groups</label>

			            <div class="storedd-container" >
			                <div class="storedd" > 
			                    <button type="button" ng-model="storeddNotSelected" ng-click="addAll()" ng-disabled="disableBtn" > Add All</button>

			                    <div class="mega-select-wrapper" >
			                        <div class="mega-select-filter-input"> <!-- ng-hide="!vm.formData.show_filter"  -->
			                            <input id="notSelectedSearch" name="notSelectedSearch" type="search" placeholder="Filter" ng-model="notSelectedSearch" class="form-control" />
			                        </div>

			                        <div class="mega-select-options">
			                            <!-- ngRepeat: option in ctrl.options -->
			                            <div class="mega-select-option" ng-repeat="storeOption in storeOptions | filter:notSelectedSearch track by $index" >
			                                
			                                <label ng-class="{'item-disabled': storeOption.removed}">{{storeOption.name}}
			                                    
			                                    <input id="{{storeOption.name}}" type="checkbox"
			                                        name="selectedOptions[]"
			                                        value="{{storeOption.name}}"
			                                        ng-model="storeOption.selected" ng-required="!hasError" ng-disabled="storeOption.removed || disableBtn"/> 

			                                    <i ng-if="storeOption.selected" class="mega-select-icon fa fa-times" ></i>
			                                    <i ng-if="!storeOption.selected" class="mega-select-icon fa fa-check" ></i>
			                                </label>

			                            </div><!-- end ngRepeat: option in ctrl.options -->
			                        </div>

			                    </div>
			                </div>

			                <div class="storedd" >
			                    <button type="button" ng-model="vm.formData.storeddSelected" ng-click="removeAll()" ng-disabled="disableBtn" > Remove All</button>

			                    <div class="mega-select-wrapper" >
			                        <div class="mega-select-filter-input">
			                            <input id="selectedSearch" name="selectedSearch" type="search" placeholder="Filter" ng-model="selectedSearch" class="form-control" ng-disabled="storeOption.removed || disableBtn" />
			                        </div>
			                        <div class="mega-select-options">
			                            <!-- ngRepeat: option in ctrl.options -->
			                            <div class="mega-select-option" ng-repeat="storeSelectedOption in storeSelectedOptions.values | filter:selectedSearch track by $index" ng-model="storeSelectedOption">
			                                <label ng-class="{'item-disabled': storeOption.removed}" >{{storeSelectedOption}}

			                                    <input ng-click="removeListItem(storeSelectedOption)" ng-disabled="disableBtn" />
			                                    <i ng-if="storeSelectedOption" class="mega-select-icon fa fa-times" ></i>
			                                </label>
			                            </div><!-- end ngRepeat: option in ctrl.options -->
			                        </div>

			                    </div>  
			                    <i class="storedd-icon fa fa-arrows-h" ></i>
			                </div>
			            </div>

			        <!-- End - Store Section -->

					 <!-- Success -->
	                    <div ng-show="validGroup" class="validity-icon" >
	                    	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
							  	<circle class="path circle" 
							  		fill="none" 
							  		stroke="#73AF55" 
							  		stroke-width="6" 
							  		stroke-miterlimit="10" 
							  		cx="65.1" cy="65.1" r="62.1"/>
						 	 	<polyline class="path check" 
						 	 		fill="none" stroke="#73AF55" 
						 	 		stroke-width="6" 
						 	 		stroke-linecap="round" 
						 	 		stroke-miterlimit="10" 
						 	 		points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
							</svg>
	                    </div>
	                    <!-- Missing -->
	                    <div ng-show="!validGroup" 
	                    		class="form-field-alert validity-icon missing" >

	                    	<div class="form-field-icon form-field-warning scaleWarning">
								<span class="form-field-body pulseWarningIns"></span>
								<span class="form-field-dot pulseWarningIns"></span>
							</div>
	                    </div>
	                    <span ng-show="!validGroup" 
	                    		class="help-block missing">Missing&#33; This is required.</span>
				</div> <!-- END - group -->

				<!-- termsNCondition -->
				<div class="form-group group-ctrl termsNCondition" 
                		ng-class="{ 'has-error': !form.termsNCondition.$pristine && form.termsNCondition.$error.required 
	                			|| (form.termsNCondition.$pristine && form.termsNCondition.$error.required) }">
					<!-- <div class="form-group group-ctrl" > -->
					<label for="termsNCondition" class="checkbox-container">Does member agree with new terms and agreements?
					  <input id="termsNCondition" name="termsNCondition" type="checkbox" class="form-control" ng-model="vm.termsNCondition" required>
					  <span class="checkmark"></span>
					</label>

					 <!-- Success -->
	                    <div ng-show="!form.termsNCondition.$pristine && !form.termsNCondition.$error.required" class="validity-icon" >
	                    	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
							  	<circle class="path circle" 
							  		fill="none" 
							  		stroke="#73AF55" 
							  		stroke-width="6" 
							  		stroke-miterlimit="10" 
							  		cx="65.1" cy="65.1" r="62.1"/>
						 	 	<polyline class="path check" 
						 	 		fill="none" stroke="#73AF55" 
						 	 		stroke-width="6" 
						 	 		stroke-linecap="round" 
						 	 		stroke-miterlimit="10" 
						 	 		points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
							</svg>
	                    </div>
	                    <!-- Missing -->
	                    <div ng-show="!form.termsNCondition.$pristine && form.termsNCondition.$error.required 
	                    	|| (form.termsNCondition.$pristine && form.termsNCondition.$error.required)" 
	                    		class="form-field-alert validity-icon missing" >

	                    	<div class="form-field-icon form-field-warning scaleWarning">
								<span class="form-field-body pulseWarningIns"></span>
								<span class="form-field-dot pulseWarningIns"></span>
							</div>
	                    </div>
	                    <span ng-show="!form.termsNCondition.$pristine && form.termsNCondition.$error.required 
	                    			|| (form.termsNCondition.$pristine && form.termsNCondition.$error.required)" 
	                    		class="help-block missing">Missing&#33; This is required.</span>
				</div> <!-- END - termsNCondition -->

				<div class="form-group group-ctrl" >
                	<a href="#!/success" 
                		class="form-main-btn" 
                		ng-disabled="form.$invalid || !validGroup" 
                		ng-class="{'disabled inactiveLink': form.$invalid || !validGroup}" 
                		ng-click="disabled(form.$invalid || !validGroup)">Save User Details</a>
                </div> <!-- complete-registration --> 

			</form>
		</div>
	</section>
	
	<!-- footer -->
	<div ng-controller="memberDetailsController">
	  	<div ng-include src="footer.url"></div>
	  	<script type="text/ng-template" id="footer.view.html"></script>
	</div> <!-- End - footer -->
</div>